.footer {
    display: block;
    text-align: center;
    height: 30px;
    border-top: 2px solid #141414;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 95%;
    margin: 0 auto
}

@media screen and (max-height: 500px) {
    .footer {
        position: absolute
    }
}

@media screen and (max-height: 700px) and (max-width:400px) {
    .footer {
        padding-top: 10px
    }
}

@media screen and (max-height: 600px) and (max-width:400px) {
    .footer {
        padding-top: 40px
    }
}

.footer__container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between
}

.footer__center, .footer__end, .footer__start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.footer__text {
    color: #fff;
    display: inline;
    font-size: 18px;
    font-family: Calibri;
    display: block;
    font-weight: lighter;
    cursor: pointer;
    font-style: italic;
    -webkit-animation: text-flicker 6s linear infinite;
    animation: text-flicker 6s linear infinite
}

@media screen and (max-width: 800px) {
    .footer__text {
        font-size: 15px
    }
}

.footer__text--1 {
    margin-bottom: 5px
}

.footer__text--2 {
    align-items: center
}

.footer__text--3 {
    color: grey
}

.footer__link, .footer__text--3 {
    text-decoration: underline
}

.footer__logo-tmdb {
    width: 90px;
    cursor: pointer;
    margin-top: 30px
}

.footer__logo-github {
    width: 50px;
    cursor: pointer;
    margin-top: 20px
}

.footer__icon-heart-o {
    margin-left: 5px;
    margin-bottom: 0;
    text-shadow: -.1vw 0 .25vw #fbb4ff,-.2vw 0 .25vw #fbb4ff,-.4vw 0 .25vw #fbb4ff,-.1vw 0 1vw #e82ff5,-.2vw 0 .8vw #e82ff5,-.4vw 0 .8vw #e82ff5,.2vw 0 .5vw #e82ff5,-.1vw 0 10vw #cb16fa,-.2vw 0 10vw #cb16fa,-.4vw 0 10vw #cb16fa
}

.footer__icon-heart-off {
    animation: heart .1s ease infinite;
    -moz-animation: heart .1s ease infinite;
    -webkit-animation: heart .1s ease infinite;
    -o-animation: heart .1s ease infinite
}

.footer .react {
    display: inline-block
}

@-webkit-keyframes heart {
    0%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        color: #fbb4ff;
        text-shadow: -.1vw 0 .25vw #fbb4ff,-.2vw 0 .25vw #fbb4ff,-.4vw 0 .25vw #fbb4ff,-.1vw 0 1vw #e82ff5,-.2vw 0 .8vw #e82ff5,-.4vw 0 .8vw #e82ff5,.2vw 0 .5vw #e82ff5,-.1vw 0 10vw #cb16fa,-.2vw 0 10vw #cb16fa,-.4vw 0 10vw #cb16fa
    }

    50% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        color: #8f5493;
        text-shadow: -.1vw 0 .25vw #8f5493,-.2vw 0 .25vw #8f5493,-.4vw 0 .25vw #8f5493,-.1vw 0 .8vw #59125e,-.2vw 0 .8vw #59125e,-.4vw 0 .8vw #59125e,.2vw 0 .5vw #59125e,-.1vw 0 3vw #42114e,-.2vw 0 3vw #42114e,-.4vw 0 3vw #42114e
    }
}

@keyframes heart {
    0%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        color: #fbb4ff;
        text-shadow: -.1vw 0 .25vw #fbb4ff,-.2vw 0 .25vw #fbb4ff,-.4vw 0 .25vw #fbb4ff,-.1vw 0 1vw #e82ff5,-.2vw 0 .8vw #e82ff5,-.4vw 0 .8vw #e82ff5,.2vw 0 .5vw #e82ff5,-.1vw 0 10vw #cb16fa,-.2vw 0 10vw #cb16fa,-.4vw 0 10vw #cb16fa
    }

    50% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        color: #8f5493;
        text-shadow: -.1vw 0 .25vw #8f5493,-.2vw 0 .25vw #8f5493,-.4vw 0 .25vw #8f5493,-.1vw 0 .8vw #59125e,-.2vw 0 .8vw #59125e,-.4vw 0 .8vw #59125e,.2vw 0 .5vw #59125e,-.1vw 0 3vw #42114e,-.2vw 0 3vw #42114e,-.4vw 0 3vw #42114e
    }
}

@-webkit-keyframes text-flicker {
    0% {
        opacity: .1;
        text-shadow: 0 0 29px #f21616
    }

    2% {
        opacity: 1;
        text-shadow: 0 0 29px #f21616
    }

    8% {
        opacity: .1;
        text-shadow: 0 0 29px #f21616
    }

    9% {
        opacity: 1;
        text-shadow: 0 0 29px #f21616
    }

    12% {
        opacity: .1;
        text-shadow: 0 0 #f21616
    }

    20% {
        opacity: 1;
        text-shadow: 0 0 29px #f21616
    }

    25% {
        opacity: .3;
        text-shadow: 0 0 29px #f21616
    }

    30% {
        opacity: 1;
        text-shadow: 0 0 29px #f21616
    }

    70% {
        opacity: .7;
        text-shadow: 0 0 29px #f21616
    }

    72% {
        opacity: .2;
        text-shadow: 0 0 29px #f21616
    }

    77% {
        opacity: .9;
        text-shadow: 0 0 29px #f21616
    }

    to {
        opacity: .9;
        text-shadow: 0 0 29px #f21616
    }
}

@keyframes text-flicker {
    0% {
        opacity: .1;
        text-shadow: 0 0 29px #f21616
    }

    2% {
        opacity: 1;
        text-shadow: 0 0 29px #f21616
    }

    8% {
        opacity: .1;
        text-shadow: 0 0 29px #f21616
    }

    9% {
        opacity: 1;
        text-shadow: 0 0 29px #f21616
    }

    12% {
        opacity: .1;
        text-shadow: 0 0 #f21616
    }

    20% {
        opacity: 1;
        text-shadow: 0 0 29px #f21616
    }

    25% {
        opacity: .3;
        text-shadow: 0 0 29px #f21616
    }

    30% {
        opacity: 1;
        text-shadow: 0 0 29px #f21616
    }

    70% {
        opacity: .7;
        text-shadow: 0 0 29px #f21616
    }

    72% {
        opacity: .2;
        text-shadow: 0 0 29px #f21616
    }

    77% {
        opacity: .9;
        text-shadow: 0 0 29px #f21616
    }

    to {
        opacity: .9;
        text-shadow: 0 0 29px #f21616
    }
}

.thanos {
    width: 43px;
    height: 69px;
    display: inline-block;
    position: relative
}

.gauntlet {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: visible;
    position: absolute
}

.hide {
    visibility: hidden
}

/*# sourceMappingURL=1.26daca93.chunk.css.map */
