.collection-overview {
    margin-bottom: 50px;
    overflow-x: hidden
}

@media screen and (max-width: 800px) {
    .collection-overview {
        margin-bottom: 30px
    }
}

.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 270px;
    overflow: hidden
}

@media screen and (max-width: 800px) {
    .collection-preview {
        height: 210px
    }
}

.collection-preview__title {
    font-size: 1.4rem;
    margin-left: 3px
}

@media screen and (max-width: 800px) {
    .collection-preview__title {
        font-size: 1rem
    }
}

.collection-preview__collection-item {
    display: flex;
    height: 100%;
    flex-direction: row;
    position: relative
}

.collection-preview__left-arrow, .collection-preview__right-arrow {
    height: 168.4px;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    z-index: 1;
    opacity: 1;
    color: #fff
}

@media screen and (max-width: 800px) {
    .collection-preview__left-arrow, .collection-preview__right-arrow {
        height: 129.44px;
        -webkit-visibility: hidden
    }
}

.collection-preview__left-arrow {
    position: absolute
}

.collection-preview__right-arrow {
    position: absolute;
    right: 0
}

.collection-preview__left-arrow-icon, .collection-preview__right-arrow-icon {
    cursor: pointer
}

    .collection-preview__left-arrow-icon:hover, .collection-preview__right-arrow-icon:hover {
        font-size: 3rem;
        color: #fff;
        -webkit-transition: all .2s ease;
        transition: all .2s ease
    }

.collection-preview__inner {
    display: flex;
    cursor: pointer;
    height: 168.4px
}

@media screen and (max-width: 800px) {
    .collection-preview__inner {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch
    }

        .collection-preview__inner::-webkit-scrollbar {
            display: none
        }
}

@media screen and (min-width: 800px) {
    .collection-preview__inner:hover .collection-item {
        -webkit-transform: translateX(-25%);
        transform: translateX(-25%)
    }

    .collection-preview__inner .collection-item:hover ~ .collection-item {
        -webkit-transform: translateX(25%);
        transform: translateX(25%)
    }

    .collection-preview__inner .collection-item:first-child:hover ~ .collection-item {
        -webkit-transform: translateX(50%);
        transform: translateX(50%)
    }

    .collection-preview__inner .collection-item:last-child:hover ~ .collection-item {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }

    .collection-preview__inner .collection-item {
        -webkit-transition: -webkit-transform .3s ease .1s;
        transition: -webkit-transform .3s ease .1s;
        transition: transform .3s ease .1s;
        transition: transform .3s ease .1s,-webkit-transform .3s ease .1s
    }

        .collection-preview__inner .collection-item:first-child {
            -webkit-transform-origin: left;
            transform-origin: left
        }

        .collection-preview__inner .collection-item:last-child {
            -webkit-transform-origin: right;
            transform-origin: right
        }

        .collection-preview__inner .collection-item:hover, .collection-preview__inner .collection-item:hover:first-child {
            -webkit-transform: scale(1.5);
            transform: scale(1.5)
        }

            .collection-preview__inner .collection-item:hover:last-child {
                -webkit-transform: scale(1.25);
                transform: scale(1.25)
            }
}

.collection-item {
    position: relative
}

    .collection-item:hover .collection-item__addtolist, .collection-item:hover .collection-item__text {
        visibility: visible;
        -webkit-transition: opacity .62s,1s ease;
        transition: opacity .62s,1s ease;
        opacity: 1
    }

    .collection-item:hover .collection-item__movie-image {
        -webkit-transition: opacity .62s,1s ease;
        transition: opacity .62s,1s ease;
        opacity: .5
    }

.collection-item__movie-image {
    width: 300px;
    z-index: 1
}

@media screen and (max-width: 800px) {
    .collection-item__movie-image {
        width: 230px
    }
}

.collection-item__text {
    position: absolute;
    bottom: 24%;
    left: 2%;
    right: 1%;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .62s,1s ease;
    transition: opacity .62s,1s ease;
    font-size: 10px;
    text-shadow: 3px 3px 4px #000
}

@media screen and (max-width: 800px) {
    .collection-item__text {
        display: none
    }
}

.collection-item__title {
    color: #fff;
    font-size: .9rem
}

@media screen and (max-width: 800px) {
    .collection-item__title {
        font-size: .6rem
    }
}

.collection-item__overview {
    color: #fff
}

@media screen and (max-width: 800px) {
    .collection-item__overview {
        font-size: .6rem
    }
}

.collection-item__addtolist {
    position: absolute;
    bottom: 5%;
    left: 1.7%;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    font-size: 10px;
    text-shadow: 3px 3px 4px #000;
    -webkit-transition: opacity .62s,1s ease;
    transition: opacity .62s,1s ease
}

@media screen and (max-width: 800px) {
    .collection-item__addtolist {
        display: none
    }
}

/*# sourceMappingURL=5.0e00cfbe.chunk.css.map */
