body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: 100%;
    width: 100%
}

.App {
    text-align: center
}

.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40
}

@media screen and (max-width: 800px) {
    .header {
        flex-direction: column;
        height: 120px
    }
}

@media screen and (max-width: 800px) {
    .header__logo-box {
        margin: 0 auto
    }
}

.header__logo {
    height: 100%;
    width: 120px;
    margin-left: 20px;
    cursor: pointer;
    margin-bottom: 10px
}

@media screen and (max-width: 800px) {
    .header__logo {
        margin: unset
    }
}

@media screen and (max-width: 800px) {
    .header__options-primary, .header__options-secondary {
        display: none
    }
}

.header__options {
    width: 88%;
    height: 100%;
    display: flex;
    align-items: center
}

@media screen and (max-width: 800px) {
    .header__options {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 25px;
        height: 200px;
        justify-content: center
    }
}

.header__option {
    padding: 10px 12px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 550;
    background-color: transparent;
    cursor: pointer;
    color: #e5e5e5;
    text-decoration: none;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased
}

@media screen and (max-width: 800px) {
    .header__option {
        padding: 5px 6px;
        font-size: 13px
    }
}

.header__option:hover {
    color: #a9a9a9;
    -webkit-transition: all .4s;
    transition: all .4s
}

.header__option--signin {
    margin-right: 25px
}

@media screen and (max-width: 800px) {
    .header__option--signin {
        margin: unset
    }
}

.header__option--signout {
    display: inline;
    margin-right: 15px
}

@media screen and (max-width: 800px) {
    .header__option--signout {
        margin: unset
    }
}

.header__searchbar {
    margin-left: auto;
    margin-right: 15px
}

@media screen and (max-width: 800px) {
    .header__searchbar {
        position: absolute;
        top: 65%;
        margin: 0 auto
    }
}

@media screen and (min-width: 800px) {
    .header__nav-menu-icon {
        display: none
    }
}

@media screen and (max-width: 800px) {
    .header__nav-menu-icon {
        display: inline-block;
        font-size: 25px;
        color: #fff;
        position: absolute;
        top: 5%;
        left: 2%;
        padding: 10px;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        cursor: pointer
    }

        .header__nav-menu-icon:active {
            -webkit-transform: scale(1.1);
            transform: scale(1.1)
        }
}

.container-2 {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin-top: 2px
}

    .container-2 input#search {
        width: 40px;
        height: 40px;
        background: #141414;
        border: none;
        font-size: 14px;
        float: left;
        color: #262626;
        padding-left: 35px;
        border-radius: 5px;
        color: #fff;
        outline: none;
        width: 300px;
        background: #000;
        -webkit-transition: width .55s ease;
        transition: width .55s ease
    }

        .container-2 input#search::-webkit-input-placeholder {
            color: #65737e
        }

        .container-2 input#search:-moz-placeholder, .container-2 input#search::-moz-placeholder {
            color: #65737e
        }

        .container-2 input#search:-ms-input-placeholder {
            color: #65737e
        }

    .container-2 .search-icon {
        position: absolute;
        top: 50%;
        left: 0;
        margin-left: 11px;
        margin-top: 11px;
        z-index: 1;
        color: #e5e5e5
    }

    .container-2 input#search:active, .container-2 input#search:focus, .container-2:hover input#search {
        color: #fff
    }

    .container-2:hover .search-icon {
        color: #93a2ad
    }

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    opacity: .95;
    background-color: #000;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-animation: moveToBottom .7s ease-out;
    animation: moveToBottom .7s ease-out
}

    .overlay a {
        padding-bottom: 36px;
        text-decoration: none;
        font-size: 22px;
        color: #fff;
        display: block;
        -webkit-transition: .3s;
        transition: .3s;
        text-transform: capitalize
    }

@-webkit-keyframes moveToBottom {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20rem);
        transform: translateX(-20rem)
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes moveToBottom {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20rem);
        transform: translateX(-20rem)
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

.overlay__content {
    position: absolute;
    top: 17%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column
}

.overlay__exit-icon {
    color: #fff;
    font-size: 32px;
    position: absolute;
    top: 2%;
    left: 5%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

    .overlay__exit-icon:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }

.overlay__signout {
    color: #fff;
    font-size: 22px;
    text-align: center
}

.overlay__netflix {
    width: 50px;
    margin: 15px auto
}

h1 {
    color: #fff;
    font-size: 2rem
}

.spinner-overlay {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.spinner-container {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #fff;
    border-top-color: #636767;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite
}

@keyframes spin {
    to {
        -webkit-transform: rotate(1turn)
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(1turn)
    }
}

@media screen and (max-width: 800px) {
    .item-page {
        overflow-x: hidden
    }
}

.item-page__bg {
    min-height: 100%;
    min-width: 1024px;
    -webkit-filter: blur(1.3px) brightness(60%);
    filter: blur(1.3px) brightness(60%);
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0
}

@media screen and (max-width: 800px) {
    .item-page__bg {
        left: 50%;
        margin-left: -512px
    }
}

.item-page .item {
    width: 100%;
    display: flex;
    justify-content: center
}

.item-page .item__outer {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.8)),to(rgba(0,0,0,.8)));
    background-image: -webkit-linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8));
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8));
    margin-top: 85px;
    height: 530px;
    width: 1000px;
    position: absolute;
    top: 0
}

@media screen and (max-width: 800px) {
    .item-page .item__outer {
        margin-top: 150px;
        margin-bottom: 20px;
        width: 100%;
        height: 1000px;
        background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent));
        background-image: -webkit-linear-gradient(transparent,transparent);
        background-image: linear-gradient(transparent,transparent)
    }
}

.item-page .item__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

@media screen and (max-width: 800px) {
    .item-page .item__inner {
        flex-direction: column
    }
}

@media screen and (max-width: 800px) {
    .item-page .item__img-box {
        width: 100%;
        display: flex;
        justify-content: center
    }
}

.item-page .item__poster-img {
    width: 365px;
    height: 530px;
    -webkit-filter: brightness(105%);
    filter: brightness(105%);
    -webkit-filter: contrast(110%);
    filter: contrast(110%)
}

@media screen and (max-width: 800px) {
    .item-page .item__poster-img {
        width: 265px;
        height: 430px;
        margin: 10px auto
    }
}

.item-page .item__text-box {
    color: #fff;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 22px;
    font-weight: lighter;
    padding: 5px;
    font-family: sans-serif;
    text-shadow: 3px 3px 4px #000
}

@media screen and (max-width: 800px) {
    .item-page .item__text-box {
        margin: 0 auto;
        width: 90%;
        text-align: center;
        padding-bottom: 15px;
        font-weight: bolder
    }
}

.item-page .item__title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 23px
}

.item-page .item__overview {
    font-size: .9rem;
    font-weight: lighter;
    line-height: 21px;
    margin-top: 0;
    display: block
}

.item-page .item .item-rating {
    padding: 5px;
    background-color: #000;
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 5px
}

@media screen and (max-width: 800px) {
    .item-page .item .item-rating {
        margin-top: 15px
    }
}

.item-page .item .item-rating__rank {
    font-size: 1.1rem;
    font-weight: lighter;
    margin-left: 7px;
    margin-top: 3px
}

.item-page .item .item-rating__ten {
    font-size: 14px;
    margin-top: 4px
}

.item-page .item .item-rating__imdb {
    width: 50px
}

.item-page .item .item-rating__star {
    width: 30px
}

.item-page .item__cast-title {
    font-size: 1.2rem;
    text-decoration: underline
}

@media screen and (max-width: 800px) {
    .item-page .item__cast-title {
        padding-top: 10px
    }
}

.item-page-footer__container {
    display: flex;
    flex-direction: row;
    margin-top: 12px
}

@media screen and (max-width: 800px) {
    .item-page-footer__container {
        justify-content: center
    }
}

.item-page-footer__btn-container {
    margin-top: 25px
}

@media screen and (max-width: 800px) {
    .item-page-footer__btn-container {
        display: flex;
        justify-content: space-around
    }
}

.item-page-footer__btn {
    border-radius: 2px;
    font-size: .9rem;
    padding: 9px 11px;
    background-color: rgba(51,51,51,.4);
    border: none;
    font-weight: 400;
    margin-right: 30px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #fff;
    width: 150px;
    cursor: pointer
}

    .item-page-footer__btn:hover {
        background-color: hsla(0,0%,100%,.2)
    }

@media screen and (max-width: 600px) {
    .item-page-footer__btn {
        margin: unset;
        background-color: rgba(51,51,51,.7)
    }
}

.item-page-footer__icon {
    margin-right: 4px
}

.cast {
    display: flex;
    flex-direction: column;
    width: 120px
}

    .cast:not(:last-child) {
        margin-right: 30px
    }

@media screen and (max-width: 800px) {
    .cast {
        width: 70px;
        margin-top: 10px
    }

        .cast:not(:last-child) {
            margin-right: 15px
        }
}

.cast__img-box {
    display: flex;
    justify-content: center;
    width: 120px
}

@media screen and (max-width: 800px) {
    .cast__img-box {
        width: 70px
    }
}

.cast__img {
    width: 80px;
    box-shadow: 0 0 20px rgba(154,160,185,.05),0 0 8px rgba(166,173,201,.2);
    padding: 3px
}

@media screen and (max-width: 800px) {
    .cast__img {
        width: 65px;
        height: 100px
    }
}

.cast__name {
    text-align: center
}

@media screen and (max-width: 800px) {
    .signin {
        overflow-x: hidden
    }
}

.signin__bg {
    min-height: 100%;
    min-width: 1024px;
    -webkit-filter: brightness(65%);
    filter: brightness(65%);
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0
}

@media screen and (max-width: 800px) {
    .signin__bg {
        left: 50%;
        margin-left: -512px
    }
}

.signin__container {
    width: 100%;
    display: flex;
    justify-content: center
}

@media screen and (max-width: 800px) {
    .signin__container {
        width: 100%
    }
}

.signin__shadow {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.8)),to(rgba(0,0,0,.8)));
    background-image: -webkit-linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8));
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8));
    margin-top: 85px;
    height: 540px;
    width: 390px;
    position: absolute;
    top: 0
}

@media screen and (max-width: 800px) {
    .signin__shadow {
        width: 330px;
        height: 460px;
        margin: 150px auto 20px
    }
}

.signin__title {
    margin-left: 60px;
    margin-top: 25px;
    margin-bottom: 25px
}

.signin__btn-container {
    width: 100%;
    display: flex;
    justify-content: center
}

.signin__btn {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    text-align: center;
    width: 70%
}

.signin__google-icon {
    font-size: 1.2rem;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px
}

.signin__option {
    width: 100%;
    display: flex;
    justify-content: center
}

.signin__option--newuser {
    color: #737373;
    text-align: center;
    margin-right: 5px
}

.signin__option--link {
    color: #fff;
    text-decoration: none
}

    .signin__option--link:hover {
        text-decoration: underline
    }

.group {
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: center
}

    .group .form-input {
        background: none;
        background-color: #333;
        color: #fff;
        font-size: 14px;
        padding: 10px 10px 10px 7px;
        display: block;
        width: 64.6%;
        border: none;
        border-radius: 3px;
        margin: 15px 0
    }

        .group .form-input:focus {
            outline: none
        }

            .group .form-input:focus ~ .form-input-label {
                top: -10px;
                left: 60px;
                font-size: 12px;
                color: #fff
            }

    .group input[type=password] {
        letter-spacing: .3em
    }

    .group .form-input-label {
        color: #737373;
        opacity: 1;
        font-size: 16px;
        font-weight: 400;
        position: absolute;
        pointer-events: none;
        left: 70px;
        top: 25px;
        -webkit-transition: all .3s ease;
        transition: all .3s ease
    }

        .group .form-input-label.shrink {
            top: -10px;
            left: 60px;
            font-size: 12px;
            color: #fff
        }

.custom-button {
    min-width: 130px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 22px;
    font-size: 14.5px;
    background-color: #e50914;
    font-weight: 600;
    font-family: helvetica;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: 30px
}

    .custom-button:hover {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }

    .custom-button:active {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px)
    }

    .custom-button.signin {
        background-color: #fff;
        color: #000
    }

        .custom-button.signin:hover {
            border: none
        }

    .custom-button .custom-button:active {
        -webkit-transform: translateY(-1px);
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2)
    }

@media screen and (max-width: 800px) {
    .signup {
        overflow-x: hidden
    }
}

.signup__bg {
    min-height: 100%;
    min-width: 1024px;
    -webkit-filter: brightness(65%);
    filter: brightness(65%);
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0
}

@media screen and (max-width: 800px) {
    .signup__bg {
        left: 50%;
        margin-left: -512px
    }
}

.signup__container {
    width: 100%;
    display: flex;
    justify-content: center
}

@media screen and (max-width: 800px) {
    .signup__container {
        width: 100%
    }
}

.signup__shadow {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.8)),to(rgba(0,0,0,.8)));
    background-image: -webkit-linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8));
    background-image: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8));
    margin-top: 85px;
    height: 550px;
    width: 390px;
    position: absolute;
    top: 0
}

@media screen and (max-width: 800px) {
    .signup__shadow {
        width: 330px;
        height: 480px;
        margin: 150px auto 20px
    }
}

.signup__title {
    margin-left: 60px;
    margin-top: 34px;
    margin-bottom: 15px
}

@media screen and (max-width: 800px) {
    .signup__title {
        margin-top: 12px;
        margin-bottom: 5px
    }
}

.signup__btn-container {
    width: 100%;
    display: flex;
    justify-content: center
}

.signup__btn {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    text-align: center;
    width: 68%
}

.signup__option {
    width: 100%;
    display: flex;
    justify-content: center
}

.signup__option--newuser {
    color: #737373;
    text-align: center;
    margin-right: 5px
}

.signup__option--link {
    color: #fff;
    text-decoration: none
}

    .signup__option--link:hover {
        text-decoration: underline
    }

.search-page__title {
    margin-top: 110px;
    margin-left: 15px;
    font-size: 1.7rem;
    margin-bottom: 40px
}

@media screen and (max-width: 800px) {
    .search-page__title {
        margin-top: 160px;
        text-align: center;
        font-size: 1.4rem;
        margin-left: unset
    }
}

.search-page__outer {
    width: 100%;
    display: flex;
    justify-content: center
}

.search-page__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    grid-gap: 30px;
    grid-template-rows: 1fr;
    width: 100%;
    margin: 0 auto
}

.search-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px
}

    .search-item:hover .search-item__addtolist, .search-item:hover .search-item__rating {
        visibility: visible
    }

    .search-item .addtolist:hover .search-item__img, .search-item .search-item__rating:hover .search-item__img, .search-item:hover .search-item__img {
        opacity: .5
    }

.search-item__img-box {
    display: flex;
    width: 100%;
    justify-content: center
}

.search-item__img {
    width: 240px;
    height: 360px;
    cursor: pointer;
    -webkit-transition: opacity .4s,.6s ease;
    transition: opacity .4s,.6s ease
}

@media screen and (max-width: 800px) {
    .search-item__img {
        width: 200px;
        height: 320px
    }
}

.search-item__title {
    font-size: 1.1rem;
    margin-bottom: 10px
}

.search-item__rating-container {
    width: 100%;
    display: flex;
    justify-content: center
}

.search-item__rating {
    padding: 5px;
    background-color: #000;
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 40;
    -webkit-transition: all .1s;
    transition: all .1s
}

.search-item__rank {
    font-size: 1.1rem;
    font-weight: lighter;
    margin-left: 7px;
    margin-top: 3px;
    color: #fff
}

.search-item__ten {
    font-size: 14px;
    margin-top: 4px;
    color: #fff
}

.search-item__imdb {
    width: 50px
}

.search-item__star {
    width: 30px
}

.search-item__addtolist {
    position: absolute;
    color: #fff;
    bottom: 18%;
    text-shadow: 5px 5px 6px #000;
    z-index: 40;
    cursor: pointer;
    visibility: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center
}

.addtolist__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    text-shadow: 3px 3px 4px #000
}

.addtolist--icon {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline;
    margin-right: 5px
}

    .addtolist--icon:hover {
        -webkit-transition: all .2s ease-in;
        transition: all .2s ease-in;
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }

.list-overview {
    margin-bottom: 30px
}

.list-overview__title {
    margin-top: 110px;
    margin-left: 10px;
    font-size: 1.7rem;
    margin-bottom: 40px;
    text-transform: capitalize
}

@media screen and (max-width: 800px) {
    .list-overview__title {
        margin-top: 180px;
        text-align: center;
        font-size: 1.4rem;
        margin-left: unset
    }
}

.list-overview__outer {
    width: 100%;
    display: flex;
    justify-content: center
}

.list-overview__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    grid-gap: 30px;
    grid-template-rows: 1fr;
    width: 100%;
    margin: 0 auto
}

.list-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px
}

    .list-item:hover .list-item__addtolist, .list-item:hover .list-item__rating {
        visibility: visible
    }

    .list-item .list-item__addtolist:hover .list-item__img, .list-item .list-item__rating:hover .list-item__img, .list-item:hover .list-item__img {
        opacity: .5
    }

.list-item__rating-container {
    width: 100%;
    display: flex;
    justify-content: center
}

.list-item__rating {
    padding: 5px;
    background-color: #000;
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    visibility: hidden;
    z-index: 40
}

.list-item__rank {
    font-size: 1.1rem;
    font-weight: lighter;
    margin-left: 7px;
    margin-top: 3px;
    color: #fff
}

.list-item__ten {
    font-size: 14px;
    margin-top: 4px;
    color: #fff
}

.list-item__imdb {
    width: 50px
}

.list-item__star {
    width: 30px
}

.list-item__addtolist {
    position: absolute;
    color: #fff;
    bottom: 16%;
    text-shadow: 5px 5px 6px #000;
    z-index: 40;
    cursor: pointer;
    visibility: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center
}

.list-item__remove-icon {
    display: inline;
    font-size: 2.2rem
}

    .list-item__remove-icon:hover {
        -webkit-transition: all .25s ease-in;
        transition: all .25s ease-in;
        -webkit-transform: scale(1.25);
        transform: scale(1.25)
    }

.list-item__img-box {
    display: flex;
    width: 100%;
    justify-content: center
}

.list-item__img {
    width: 240px;
    height: 360px;
    cursor: pointer;
    -webkit-transition: opacity .4s,.6s ease;
    transition: opacity .4s,.6s ease
}

@media screen and (max-width: 800px) {
    .list-item__img {
        width: 200px;
        height: 320px
    }
}

.list-item__title {
    font-size: 1.1rem;
    margin-bottom: 10px
}

/*# sourceMappingURL=main.9b82cd5a.chunk.css.map */
